<%- include("../template/encabezado") %>
<%- include("../template/menu") %>

<div class="container">
    <div class="card mt-5">
        <div class="card-header" style="background-color: antiquewhite;">
            <h1>PELICULAS</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Duración</th>
                        <th>Productora</th>
                        <th>Foto</th>
                        <th>Editar/Borrar/Pedir</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    pelis.forEach((pelicula,i) => {
                    %>
                    <tr>
                        <td><%= (i+1)*100 %></td>
                        <td><%= pelicula.titulo %></td>
                        <td><%= pelicula.duracion %></td>
                        <td><%= pelicula.productora %></td>
                        <td><img src="/images/<%= pelicula.foto %>" width="100px"></td>
                        <td>
                            <a href="/editarPelicula/<%= pelicula.id %>">Editar</a>
                            <a href="/borrarPelicula/<%= pelicula.id %>">Borrar</a>
                            <a href="/pedirPelicula/<%= pelicula.id %>">Pedir</a>
                        </td>
                    </tr>
                    <%
                    });
                    %>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
<%- include("../template/pie") %>